<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body class="bg-gray-100">
  <header class="bg-gray-900 text-white p-4">
    <div class="container mx-auto">
      <div class="flex items-center justify-between">
        <div>
          <a href="/" class="text-2xl font-semibold">Midnight Movie Theater</a>
        </div>
        <nav>
          <ul class="flex space-x-4">
            <li><a href="#" hx-get="/home" hx-target="#content" hx-push-url="true" class="hover:text-gray-400">Home</a>
            </li>
            <li><a href="#" hx-get="/showtimes" hx-target="#content" hx-push-url="true"
                class="hover:text-gray-400">Showtimes</a></li>
            <li><a href="#" hx-get="/about" hx-target="#content" hx-push-url="true"
                class="hover:text-gray-400">About</a></li>
            <li><a href="#" hx-get="/contact" hx-target="#content" hx-push-url="true"
                class="hover:text-gray-400">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main id="content" hx-get="/home" hx-trigger="load" hx-push-url="true" class="pt-1 pb-4 bg-gray-100">
  </main>
  <footer class="bg-gray-900 text-white">
    <div class="container mx-auto px-6 py-4">
      <div class="flex flex-wrap justify-between items-center">
        <div class="flex items-center">
          <span class="font-semibold text-xl">Movie Theater</span>
        </div>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-gray-400">Home</a></li>
          <li><a href="#" class="hover:text-gray-400">About</a></li>
          <li><a href="#" class="hover:text-gray-400">Showtimes</a></li>
          <li><a href="#" class="hover:text-gray-400">Contact</a></li>
        </ul>
        <div class="text-sm">
          &copy; 2023 Movie Theater. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</body>

</html>