<html lang="en">

<div class="bg-gray-100 flex items-center justify-center w-auto">
  <div class="grid grid-cols-9 gap-4 w-2/5 p-4">
    {% for seat in seats %}
    <div class="relative">
      {% if seat.available%}
      <input type="checkbox" id="{{ seat.seat }}" class="flex absolute opacity-0 w-0 h-0">
      <label for="{{ seat.seat }}" hx-get="/seating/{{ id }}/{{ seat.seat }}" hx-trigger="click" hx-target="#content"
        hx-push-url="true" class="w-14 h-14 block bg-blue-500 border-2 border-black rounded-lg">
        <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white font-bold">{{
          seat.seat }}</span>
      </label>
      {% else %}
      <input type="checkbox" id="{{ seat.seat }}" class="flex absolute opacity-0 w-0 h-0">
      <label for="{{ seat.seat }}" class="w-14 h-14 block bg-red-500 border-2 border-black rounded-lg">
        <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white font-bold">{{
          seat.seat }}</span>
      </label>
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>

</html>