<html>

<div class="p-3 max-w-sm mx-auto bg-white rounded-lg shadow-md flex items-center space-x-4">
  <form class="flex items-center w-full" hx-get="/account/search" hx-target="#results">
    <input type="search" name="query" placeholder="Search movies..."
      class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring">
    <button type="submit"
      class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M8 6H21M8 12H21M8 18H21M3 6H3.01M3 12H3.01M3 18H3.01"></path>
      </svg>
    </button>
  </form>
</div>
<div id="results" class="flex-grow">
  {% for ticket in tickets%}
  <div class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-lg p-2 w-1/2">
      <div class="flex flex-col items-center text-center">
        <h3 class="text-2xl font-semibold mb-4">Your Ticket Details:</h3>
        <div class="mb-2">
          <p class="text-xl text-gray-700"><span class="font-bold">Movie:</span> {{ ticket.movie }}</p>
        </div>
        <div class="mb-2">
          <p class="text-xl text-gray-700"><span class="font-bold">Show Time:</span> {{ ticket.time }}</p>
        </div>
        <div class="mb-2">
          <p class="text-xl text-gray-700"><span class="font-bold">Seat:</span> {{ ticket.seat }}</p>
        </div>
        <div class="mb-2">
          <p class="text-xl text-gray-700"><span class="font-bold">ticket:</span> {{ ticket.id }}</p>
        </div>
        <div>
          {{ ticket.svg|safe }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</html>